ProjetNestiPart2/bin/
/.metadata/
# Ignorer la bin
/bin/
# Ignorer les fichiers class
ProjetNestiPart2/.class
# Config.java
Config.java
# Ignorer les fichiers project
.project
# Ignorer les fichiers classpath
.classpath
ProjetNestiPart2/.classpath
# Ignorer les fichiers settings
ProjetNestiPart2/.settings/
ProjetNestiPart2/.settings
ProjetNestiPart2/.project